In [1]:
import pandas as pd
data = pd.read_csv("C:\\Users\\wendi\\Desktop\\DAJ\\adult_data.csv")
print(data)

       age         workclass  fnlwgt   education  education-num  \
0       39         State-gov   77516   Bachelors             13
1       50  Self-emp-not-inc   83311   Bachelors             13
2       38           Private  215646     HS-grad              9
3       53           Private  234721        11th              7
4       28           Private  338409   Bachelors             13
...    ...               ...     ...         ...            ...
32556   27           Private  257302  Assoc-acdm             12
32557   40           Private  154374     HS-grad              9
32558   58           Private  151910     HS-grad              9
32559   22           Private  201490     HS-grad              9
32560   52      Self-emp-inc  287927     HS-grad              9

           marital-status         occupation   relationship   race     sex  \
0           Never-married       Adm-clerical  Not-in-family  White    Male
1      Married-civ-spouse    Exec-managerial        Husband  White    Male
2                Divorced  Handlers-cleaners  Not-in-family  White    Male
3      Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4      Married-civ-spouse     Prof-specialty           Wife  Black  Female
...                   ...                ...            ...    ...     ...
32556  Married-civ-spouse       Tech-support           Wife  White  Female
32557  Married-civ-spouse  Machine-op-inspct        Husband  White    Male
32558             Widowed       Adm-clerical      Unmarried  White  Female
32559       Never-married       Adm-clerical      Own-child  White    Male
32560  Married-civ-spouse    Exec-managerial           Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country salary
0              2174             0              40  United-States  <=50K
1                 0             0              13  United-States  <=50K
2                 0             0              40  United-States  <=50K
3                 0             0              40  United-States  <=50K
4                 0             0              40           Cuba  <=50K
...             ...           ...             ...            ...    ...
32556             0             0              38  United-States  <=50K
32557             0             0              40  United-States   >50K
32558             0             0              40  United-States  <=50K
32559             0             0              20  United-States  <=50K
32560         15024             0              40  United-States   >50K

[32561 rows x 15 columns]

In [2]:
# display all the columns
print(data.columns)

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [3]:
# first 20 records
print(data.head(20))

    age         workclass  fnlwgt     education  education-num  \
0    39         State-gov   77516     Bachelors             13
1    50  Self-emp-not-inc   83311     Bachelors             13
2    38           Private  215646       HS-grad              9
3    53           Private  234721          11th              7
4    28           Private  338409     Bachelors             13
5    37           Private  284582       Masters             14
6    49           Private  160187           9th              5
7    52  Self-emp-not-inc  209642       HS-grad              9
8    31           Private   45781       Masters             14
9    42           Private  159449     Bachelors             13
10   37           Private  280464  Some-college             10
11   30         State-gov  141297     Bachelors             13
12   23           Private  122272     Bachelors             13
13   32           Private  205019    Assoc-acdm             12
14   40           Private  121772     Assoc-voc             11
15   34           Private  245487       7th-8th              4
16   25  Self-emp-not-inc  176756       HS-grad              9
17   32           Private  186824       HS-grad              9
18   38           Private   28887          11th              7
19   43  Self-emp-not-inc  292175       Masters             14

           marital-status         occupation   relationship  \
0           Never-married       Adm-clerical  Not-in-family
1      Married-civ-spouse    Exec-managerial        Husband
2                Divorced  Handlers-cleaners  Not-in-family
3      Married-civ-spouse  Handlers-cleaners        Husband
4      Married-civ-spouse     Prof-specialty           Wife
5      Married-civ-spouse    Exec-managerial           Wife
6   Married-spouse-absent      Other-service  Not-in-family
7      Married-civ-spouse    Exec-managerial        Husband
8           Never-married     Prof-specialty  Not-in-family
9      Married-civ-spouse    Exec-managerial        Husband
10     Married-civ-spouse    Exec-managerial        Husband
11     Married-civ-spouse     Prof-specialty        Husband
12          Never-married       Adm-clerical      Own-child
13          Never-married              Sales  Not-in-family
14     Married-civ-spouse       Craft-repair        Husband
15     Married-civ-spouse   Transport-moving        Husband
16          Never-married    Farming-fishing      Own-child
17          Never-married  Machine-op-inspct      Unmarried
18     Married-civ-spouse              Sales        Husband
19               Divorced    Exec-managerial      Unmarried

                  race     sex  capital-gain  capital-loss  hours-per-week  \
0                White    Male          2174             0              40
1                White    Male             0             0              13
2                White    Male             0             0              40
3                Black    Male             0             0              40
4                Black  Female             0             0              40
5                White  Female             0             0              40
6                Black  Female             0             0              16
7                White    Male             0             0              45
8                White  Female         14084             0              50
9                White    Male          5178             0              40
10               Black    Male             0             0              80
11  Asian-Pac-Islander    Male             0             0              40
12               White  Female             0             0              30
13               Black    Male             0             0              50
14  Asian-Pac-Islander    Male             0             0              40
15  Amer-Indian-Eskimo    Male             0             0              45
16               White    Male             0             0              35
17               White    Male             0             0              40
18               White    Male             0             0              50
19               White  Female             0             0              45

   native-country salary
0   United-States  <=50K
1   United-States  <=50K
2   United-States  <=50K
3   United-States  <=50K
4            Cuba  <=50K
5   United-States  <=50K
6         Jamaica  <=50K
7   United-States   >50K
8   United-States   >50K
9   United-States   >50K
10  United-States   >50K
11          India   >50K
12  United-States  <=50K
13  United-States  <=50K
14              ?   >50K
15         Mexico  <=50K
16  United-States  <=50K
17  United-States  <=50K
18  United-States  <=50K
19  United-States   >50K

In [4]:
# last 20 records
print(data.tail(20))

       age         workclass  fnlwgt     education  education-num  \
32541   41                 ?  202822       HS-grad              9
32542   72                 ?  129912       HS-grad              9
32543   45         Local-gov  119199    Assoc-acdm             12
32544   31           Private  199655       Masters             14
32545   39         Local-gov  111499    Assoc-acdm             12
32546   37           Private  198216    Assoc-acdm             12
32547   43           Private  260761       HS-grad              9
32548   65  Self-emp-not-inc   99359   Prof-school             15
32549   43         State-gov  255835  Some-college             10
32550   43  Self-emp-not-inc   27242  Some-college             10
32551   32           Private   34066          10th              6
32552   43           Private   84661     Assoc-voc             11
32553   32           Private  116138       Masters             14
32554   53           Private  321865       Masters             14
32555   22           Private  310152  Some-college             10
32556   27           Private  257302    Assoc-acdm             12
32557   40           Private  154374       HS-grad              9
32558   58           Private  151910       HS-grad              9
32559   22           Private  201490       HS-grad              9
32560   52      Self-emp-inc  287927       HS-grad              9

           marital-status         occupation    relationship  \
32541           Separated                  ?   Not-in-family
32542  Married-civ-spouse                  ?         Husband
32543            Divorced     Prof-specialty       Unmarried
32544            Divorced      Other-service   Not-in-family
32545  Married-civ-spouse       Adm-clerical            Wife
32546            Divorced       Tech-support   Not-in-family
32547  Married-civ-spouse  Machine-op-inspct         Husband
32548       Never-married     Prof-specialty   Not-in-family
32549            Divorced       Adm-clerical  Other-relative
32550  Married-civ-spouse       Craft-repair         Husband
32551  Married-civ-spouse  Handlers-cleaners         Husband
32552  Married-civ-spouse              Sales         Husband
32553       Never-married       Tech-support   Not-in-family
32554  Married-civ-spouse    Exec-managerial         Husband
32555       Never-married    Protective-serv   Not-in-family
32556  Married-civ-spouse       Tech-support            Wife
32557  Married-civ-spouse  Machine-op-inspct         Husband
32558             Widowed       Adm-clerical       Unmarried
32559       Never-married       Adm-clerical       Own-child
32560  Married-civ-spouse    Exec-managerial            Wife

                     race     sex  capital-gain  capital-loss  hours-per-week  \
32541               Black  Female             0             0              32
32542               White    Male             0             0              25
32543               White  Female             0             0              48
32544               Other  Female             0             0              30
32545               White  Female             0             0              20
32546               White  Female             0             0              40
32547               White    Male             0             0              40
32548               White    Male          1086             0              60
32549               White  Female             0             0              40
32550               White    Male             0             0              50
32551  Amer-Indian-Eskimo    Male             0             0              40
32552               White    Male             0             0              45
32553  Asian-Pac-Islander    Male             0             0              11
32554               White    Male             0             0              40
32555               White    Male             0             0              40
32556               White  Female             0             0              38
32557               White    Male             0             0              40
32558               White  Female             0             0              40
32559               White    Male             0             0              20
32560               White  Female         15024             0              40

      native-country salary
32541  United-States  <=50K
32542  United-States  <=50K
32543  United-States  <=50K
32544  United-States  <=50K
32545  United-States   >50K
32546  United-States  <=50K
32547         Mexico  <=50K
32548  United-States  <=50K
32549  United-States  <=50K
32550  United-States  <=50K
32551  United-States  <=50K
32552  United-States  <=50K
32553         Taiwan  <=50K
32554  United-States   >50K
32555  United-States  <=50K
32556  United-States  <=50K
32557  United-States   >50K
32558  United-States  <=50K
32559  United-States  <=50K
32560  United-States   >50K

In [5]:
# statistics of dataset
print(data.describe())

                age        fnlwgt  education-num  capital-gain  capital-loss  \
count  32561.000000  3.256100e+04   32561.000000  32561.000000  32561.000000
mean      38.581647  1.897784e+05      10.080679   1077.648844     87.303830
std       13.640433  1.055500e+05       2.572720   7385.292085    402.960219
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       28.000000  1.178270e+05       9.000000      0.000000      0.000000
50%       37.000000  1.783560e+05      10.000000      0.000000      0.000000
75%       48.000000  2.370510e+05      12.000000      0.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hours-per-week
count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000

In [6]:
#dimension of dataset
print(data.shape)

(32561, 15)

In [9]:
# number of men and women in dataset
print(data['sex'].value_counts())

Male      21790
Female    10771
Name: sex, dtype: int64

In [13]:
# Calculate the average age of women
average_age_of_women = data[data['sex'] == 'Female']['age'].mean()
print(average_age_of_women)

36.85823043357163

In [14]:
#percentage of German citizens 
# Count the number of entries where native country is Germany
german_citizens_count = data[data['native-country'] == 'Germany'].shape[0]

# Calculate the total number of entries in the DataFrame
total_entries = data.shape[0]

# Calculate the percentage of German citizens
percentage_german_citizens = (german_citizens_count / total_entries) * 100

print(f"Percentage of German citizens in the dataset: {percentage_german_citizens:.2f}%")

Percentage of German citizens in the dataset: 0.42%

In [17]:
#Calculate mean and standard deviation of age for different salary groups
mean_age_by_salary = data.groupby('salary')['age'].mean()
print({mean_age_by_salary)
std_dev_age_by_salary = data.groupby('salary')['age'].std()
print(std_dev_age_by_salary)

salary
<=50K    36.783738
>50K     44.249841
Name: age, dtype: float64
salary
<=50K    14.020088
>50K     10.519028
Name: age, dtype: float64

In [18]:
# Filter the dataset for individuals earning more than 50K
high_income = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']
filtered_data = data[data['salary'] == '>50K']

# Check if people earning more than 50K have at least high school education
result = all(filtered_data['education'].isin(high_income))

if result:
    print("People who earn more than 50K have at least high school education.")
else:
    print("Not all people who earn more than 50K have at least high school education.")

Not all people who earn more than 50K have at least high school education.

In [19]:
#age statistics for race
print(data.groupby('race').describe())

                        age                                                \
                      count       mean        std   min   25%   50%   75%
race
Amer-Indian-Eskimo    311.0  37.173633  12.447130  17.0  28.0  35.0  45.5
Asian-Pac-Islander   1039.0  37.746872  12.825133  17.0  28.0  36.0  45.0
Black                3124.0  37.767926  12.759290  17.0  28.0  36.0  46.0
Other                 271.0  33.457565  11.538865  17.0  25.0  31.0  41.0
White               27816.0  38.769881  13.782306  17.0  28.0  37.0  48.0

                           fnlwgt                 ... capital-loss          \
                     max    count           mean  ...          75%     max
race                                              ...
Amer-Indian-Eskimo  82.0    311.0  120831.147910  ...          0.0  1980.0
Asian-Pac-Islander  90.0   1039.0  159940.609240  ...          0.0  2457.0
Black               90.0   3124.0  228013.124200  ...          0.0  4356.0
Other               77.0    271.0  197124.191882  ...          0.0  2179.0
White               90.0  27816.0  187298.064280  ...          0.0  4356.0

                   hours-per-week                                         \
                            count       mean        std  min   25%   50%
race
Amer-Indian-Eskimo          311.0  40.048232  11.695364  3.0  40.0  40.0
Asian-Pac-Islander         1039.0  40.127045  12.556816  1.0  40.0  40.0
Black                      3124.0  38.422855  10.315646  1.0  37.0  40.0
Other                       271.0  39.468635  11.143755  5.0  36.0  40.0
White                     27816.0  40.689100  12.544796  1.0  40.0  40.0


                     75%   max
race
Amer-Indian-Eskimo  40.0  84.0
Asian-Pac-Islander  40.0  99.0
Black               40.0  99.0
Other               40.0  98.0
White               45.0  99.0

[5 rows x 48 columns]

In [20]:
#age statistics for race
print(data.groupby('sex').describe())

            age                                                       fnlwgt  \
          count       mean        std   min   25%   50%   75%   max    count
sex
Female  10771.0  36.858230  14.013697  17.0  25.0  35.0  46.0  90.0  10771.0
Male    21790.0  39.433547  13.370630  17.0  29.0  38.0  48.0  90.0  21790.0

                       ... capital-loss         hours-per-week             \
                 mean  ...          75%     max          count       mean
sex                    ...
Female  185746.311206  ...          0.0  4356.0        10771.0  36.410361
Male    191771.449013  ...          0.0  3770.0        21790.0  42.428086


              std  min   25%   50%   75%   max
sex
Female  11.811300  1.0  30.0  40.0  40.0  99.0
Male    12.119755  1.0  40.0  40.0  49.0  99.0

[2 rows x 48 columns]

In [22]:
# maximum age of Amer-Indian Eskimo men
# Filter the dataset for Amer-Indian-Eskimo men
filtered_data = data[(data['race'] == 'Amer-Indian-Eskimo') & (data['sex'] == 'Male')]

# Find the maximum age
max_age = filtered_data['age'].max()

print(max_age)

82

In [23]:
# Categorize individuals into married and single groups
married_statuses = ['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse']
data['marital-status-category'] = data['marital-status'].apply(lambda x: 'Married' if x in married_statuses else 'Single')

# Calculate the proportion of individuals earning more than 50K in each group
proportion_earning_more_than_50K = data.groupby('marital-status-category')['salary'].value_counts(normalize=True).unstack().loc[:, '>50K']

# Compare the proportions
print("Proportion of married men earning more than 50K:", proportion_earning_more_than_50K['Married'])
print("Proportion of single men earning more than 50K:", proportion_earning_more_than_50K['Single'])

Proportion of married men earning more than 50K: 0.43692028280469614
Proportion of single men earning more than 50K: 0.0644540363975735

In [26]:
# Find the maximum number of hours a person works per week
max_hours_per_week = data['hours-per-week'].max()
print(max_hours_per_week)
# Find the number of people working the maximum number of hours
num_people_working_max_hours = data[data['hours-per-week'] == max_hours_per_week].shape[0]
print(num_people_working_max_hours )
# Find the percentage of those who earn more than 50K among them
percentage_earning_more_than_50K = (data[(data['hours-per-week'] == max_hours_per_week) & (data['salary'] == '>50K')].shape[0] / num_people_working_max_hours) * 100
print(percentage_earning_more_than_50K)

99
85
29.411764705882355

In [27]:
# Calculate average time of work for each salary group and native country
average_hours_by_country = data.groupby(['native-country', 'salary'])['hours-per-week'].mean()

# Print the results for Japan
average_japan_lowincome = average_hours_by_country.loc['Japan', '<=50K']
print(average_japan_lowincome)
average_japan_highincome = average_hours_by_country.loc['Japan', '>50K']
print(average_japan_highincome)

41.0
47.958333333333336